<h3>I'm in the appComponent</h3>
<hr>
<app-servers></app-servers>
<hr>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>
<hr>

<div class="container">
    <div class="row">
        <div class="col-x-12">
            <label>UserName</label>
            <input type="text" class="form-control" [(ngModel)]="username">
            <p>{{ username }}</p>
            <button class="btn btn-primary" [disabled]="username === '' " (click)="username = ''">Reset User
            </button>
            <hr>
            <button class="btn btn-primary" (click)="showSecret = !showSecret">Display details</button>
            <p *ngIf="showSecret">Secret Password = tuna</p>
        </div>
    </div>
</div>